a
{
    cursor: pointer;
}
#myli
{
    list-style: none;
}
#myul 
{
    padding-left: 15px;
}
#btn1, #btn2
{
    margin-top:50px;
}
button
{
    box-shadow: 0 5px #666666;
}
button:active
{
    box-shadow: 0 0;
}
#inDiv, #srDiv 
{
    margin-top: 85px;
}
#grt
{
    font-size: 333%;
    margin-top:250px;
    color: 	#008080;
}
#bth
{
    margin-top:50px;
}
#sm
{
    margin-top:50px;
}
#sm:focus
{
    text-decoration: none;
}
#err{
    color:#ff0000;
    padding-top:50px;
}
#det, #info
{
    color:#ffffff;  
    font-size:200%;
    font-weight: semi-bold;
    padding-top: 50px;  
}
#post, #imge 
{
    padding-top: 50px;
}
#detpn, #infopn
{
    background-color: #000000;
    position: absolute;
    top: 400px;
    left: 280px;
    width: 60%;
    height: 75%;
}
#res, #res1
{
    color: #ff0000;
}
.bl
{
    background-image: url('appimg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.welcome
{
    background-image: url('https://image.shutterstock.com/z/stock-photo-cinema-film-roll-isolated-on-white-background-97756016.jpg');
    background-size: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-image: url('appimg.jpg');
    background-repeat: no-repeat;
    background-size: 100%; /* Just to visualize the extent */
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}