a
{
    cursor: pointer;
}
#myli
{
    list-style: none;
}
#myul 
{
    padding-left: 15px;
}
#btn1, #btn2
{
    margin-top:50px;
}
button
{
    box-shadow: 0 5px #666666;
}
button:active
{
    box-shadow: 0 0;
}
#inDiv, #srDiv 
{
    margin-top: 85px;
}
#grt
{
    font-size: 333%;
    margin-top:250px;
    color: teal;
}
#bth
{
    margin-top:50px;
}
#sm
{
    margin-top:50px;
}
#sm:focus
{
    text-decoration: none;
}
#err{
    color:#ff0000;
}
#info{
    color:1D1D1D;
    margin-top:50px;
    font-size:200%;
    font-weight: semi-bold;
}
#det
{
    color:1D1D1D;  
    font-size:200%;
    font-weight: semi-bold;  
}
#res
{
    color: #000000;
}

.bl
{
  background-image: url('https://previews.123rf.com/images/nasirkhan/nasirkhan1109/nasirkhan110900107/10743750-3d-transparent-film-strip-on-white-background-Stock-Photo-movie.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.welcome
{
  background-image: url('https://image.shutterstock.com/z/stock-photo-cinema-film-roll-isolated-on-white-background-97756016.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
   background-image: url('https://cdn.shutterstock.com/shutterstock/videos/766603/thumb/1.jpg');
    background-repeat: no-repeat;
    background-size: 100%; /* Just to visualize the extent */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}