a
{
    cursor: pointer;
}
#myli
{
    list-style: none;
}
#myul 
{
    padding-left: 15px;
}
#btn1, #btn2
{
    margin-top:50px;
}
button
{
    box-shadow: 0 5px #666666;
}
button:active
{
    box-shadow: 0 0;
}
#inDiv, #srDiv 
{
    margin-top: 85px;
}
#grt
{
    font-size: 333%;
    margin-top:200px;
    color: #6969f9;
}
#bth
{
    margin-top:50px;
}
#sm
{
    margin-top:50px;
}
#sm:focus
{
    text-decoration: none;
}
#err{
    color:#ff0000;
}
#info{
    color:#d8ffff;
    margin-top:50px;
    font-size:150%;
}
#det
{
    color:#d8ffff;  
    font-size:150%;  
}
#res
{
    color: #000000;
}

.bl
{
  background-image: url('https://blog.zingchart.com/content/images/2016/06/angularjsgoogle.png');
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
   background-image: url('https://blog.zingchart.com/content/images/2016/06/angularjsgoogle.png');
    background-repeat: no-repeat;
    background-size: 100%; /* Just to visualize the extent */
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}