<div class='row'>
    <div class="col-lg-push-9 col-lg-3 form-group">
        <a ui-sref="search"><button class="btn btn-primary">Search by movie name</button></a>
    </div>
</div>
<div class='row'>
    <div class="form-group col-lg-offset-2 col-lg-8">
        <input class='form-control' type="search" ng-model="idString" placeholder="Enter your movie Id" />
    </div>
<div>
<div>
    <div class="form-group col-lg-offset-2 col-lg-8">    
        <button class='btn btn-primary' ng-click='searchId()'>Search Movie</button> 
    </div>
</div>
<div ng-if='error' class='row'>
    <div class="form-group col-lg-offset-2 col-lg-8">
        <span>{{error}}</span>
    </div>
</div>
<div ng-if="info.Response==='True'">
    <div class="form-group col-lg-offset-4 col-lg-4">
        <img ng-if="info.Poster!=='N/A'" src='{{info.Poster}}'>
        <p>Title: {{info.Title}}</p>
        <p>Type: {{info.Type}}</p>
        <p>ID: {{info.imdbID}}</p>
    </div>
</div>