	<div class="col-lg-offset-2 col-lg-8">
			<!-- Create a binding between the searchString model and the text field -->
			<input class='form-control' type="search" ng-model="searchString" placeholder="Enter your movie name" />
		</div>

		<ul class="col-lg-offset-2 col-lg-8">
			<li style= "list-style:none" ng-repeat="movie in data.Search">
				<a><span>{{movie.Title}} {{movie.imdbID}}</span></a>
				<!--<a><p>{{movie.imdbID}}</p></a>-->
			</li>
		</ul>
<div class="col-lg-offset-2 col-lg-8" ng-if="data.totalResults>10">
		<ul class="pagination">
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(1)">First</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === 1}">
                <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                <a ng-click="setPage(page)">{{page}}</a>
            </li>               
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                <a ng-click="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
</div>